/* a css comment! */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-shadow: none;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#eab6ff 0%, #90ccfd 100%);

  /*color: #000;
  font: 16px/1.5 verdana, arial;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;*/
}

#banner {
  text-align: center;
  margin: 32px 0;
}

#banner__header {
  margin: 6px 0;
  text-shadow: 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff;
}

#banner__description {
  margin: 6px 0;
}

/*.section {
  margin: 32px 24px;
}

#plannercontainer {
  padding: 24px 32px;
  background-color: #fff;
}*/


/* menu and search chaos*/
.search{
  position: relative;
  /* height: 45px; */
  /* width: 45px; */
  text-align: center;
  margin: 0 50px;
}

.menu-icon{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #6cbdff; 
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}

.menu-icon.click{
  left: 260px;
}

.menu-icon span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.menu-icon.click span:before{
  content: '\f00d';
}

.sidebar{
  position: fixed;
  z-index: 5;
  top: 15px;
  left: 45px;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #90959b; 
  transition: left 0.4s ease;
}

.sidebar.show{
  left: 0px;
}

.sidebar .text{ /* main menu title*/
  color: white;
  /*z-index: 3;*/
  font-size: 28px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  background: #6cbdff; 
  letter-spacing: 1px;
}

nav ul{
  /*z-index: 4;*/
  background: #90959b; 
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li{ /* menu blocks */
  line-height: 60px;
  border-bottom: 1px solid #ffffff;
}

nav ul li:last-block{
  border-bottom: 1px solid #ffffff;
}

nav ul li a{ /* menu section titles*/
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 30px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a{
  color: #8bff9a;
  background: #bebfc0; 
  border-left-color: #8bff9a;
}

nav ul li a:hover{
  background: #bebfc0; 
}

nav ul ul{
  position: static;
  display: none;
}

nav ul .class-show.show{
  display: block;
}

nav ul .res-show.show2{
  display: block;
}

nav ul ul li{
  line-height: 40px;
  border-bottom: none;
}

nav ul ul li a{ /* section sub categories*/
  font-size: 15px;
  color: #ffffff;
  padding-left: 60px;
}

nav ul li.active ul li a{
  color: #8bff9a;
  background: #90959b;
  border-left-color: transparent;
}

nav ul ul li a:hover{
  color: #adffb8! important;
  background: #bebfc0! important;
}

nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 20px;
}

nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}


/*search dropdown courses*/
.course-option{
  color: white;
  list-style: none;
}

.search-dropdown{
  background: #6cbdff; 
  height: 100%;
  width: 100%;
  list-style: none;
  margin: 25px 0;
}

.search-dropdown li{
  line-height: 50px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.search-dropdown li:last-block{
  border-bottom: 1px solid #ffffff;
}

.search-dropdown li:hover{
  background: #bebfc0; 
}
.search-dropdown .course-info{
  background: #ffffff; 
  background: #90ccfd; 
}

.planner-cell-list{
  list-style: none;
}


/*planner stuff*/
.plan{
  /*display: flex;*/
  /*align-items: center;
  justify-content: center;*/
  /*min-height: 40vh;*/
  margin: 0px 18%;
  width: 800px;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.plan header{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  position: relative;
  /*top: -100px;*/
}

header label{
  height: 100%;
  z-index: 2;
  width: 20%;
  display: flex;
  cursor: pointer;
  font-size: 17px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2,
#tab-3:checked ~ header .tab-3,
#tab-4:checked ~ header .tab-4{
  color: #fff;

}

/*header label:nth-child(3){
  width: 40%;
}*/

header .slider{
  position: absolute;
  height: 87%;
  border-radius: inherit;
  background: linear-gradient(145deg, #eab6ff 0%, #90ccfd 100%);
  transition: all 0.4s ease;
}

#tab-1:checked ~ header .slider{
  left: 10%;
  width: 130px;
  transform: translateX(5%);
}

#tab-2:checked ~ header .slider{
  left: 40%;
  width: 130px;
  transform: translateX(-50%);
}

#tab-3:checked ~ header .slider{
  left: 70%;
  width: 130px;
  transform: translateX(-105%);
}

#tab-4:checked ~ header .slider{
  left: 98%;
  width: 130px;
  transform: translateX(-150%);
}

.plan input[type="radio"]{
  display: none;
}

.quarter .quarter-courses{
  margin: 15px 0;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.quart-list p{
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
}

